[Unit]
Description=CamFlow provenance service
Requires=camflow-config.service
After=camflow-config.service

[Service]
Type=simple
ExecStart=/usr/bin/camflow-provenance
Restart=always

[Install]
WantedBy=multi-user.target
